* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    border: 0.3rem solid black;
    display:flex;
    /* align-items: center: lo centra, stretch; para alinear verticalmente stretch se hace grande, 
    baseline se pone al tamano de su contenido*/
    /* height: 50vh; */
    flex-wrap: wrap; /*voy a ajustarlo para que ocupe todo el tamano de lo ancho de mi pantalla*/
    
    
}
/*display row esta por default
flex-direction me permite mover mis cajas de distintas formas e.g. flex-direction: column;
flex-wrap: wrap: me ajusta mis cajas dinamicamente para no generar un scroll

justify-content: center (lo centra) / flext-start (lo pone al inicio) / flex-end (al final)
space-around (le da un espacio entre ellos aunque no es proporcional) /
space-even (le da un espacio a las cajas de manera proporcional
*/

.box {
    /* width: 10rem; */
    height: 10rem;
    flex-basis: 10rem; /*cuando lo hago mas chico se empiezan a bajar los contenedores*/
    flex-grow: 1;
}


.box1 {
    background-color: blue;
    /*order: 1; Todos los contenedores que no tengan un orden los pasara a la izquierda automaticamente*/
    /* flex-grow: 1; queremos que crezca una posicion se ajusta automaticamente al crecer o reducir el navegador*/
}

.box2 {
    background-color: blueviolet;
    /* flex-grow: 1; queremos que crezca una posicion*/
    /* order: 3; */
}

.box3 {
    background-color: burlywood;
    
}

.box4 {
    background-color: cadetblue;
}

.box5 {
    background-color: coral;
    /* order: 4; */
}

.box6 {
    background-color: salmon;
    /* order: 2; */
} 