.container {
    width: 1024px; 
    margin-left: auto;
    margin-right: auto;
}

.h1, .h2, .f1, .f2 {

    width: 50%;

}

.h2 {

    font-size: 1.9rem;
    
}


.c1, .c2, .c3, .c4 {
    width: 100%;
}

.c1 p {
    padding-right: 5rem;
    padding-left: 5rem;
}
.c1 ol {
    padding-right: 10rem;
    padding-left: 10rem;
}

.c4 p {
    padding-right: 5rem;
    padding-left: 5rem;
}
.c4 ol {
    padding-right: 10rem;
    padding-left: 10rem;
}


.f1, .f2 {

    font-size: 1.9rem;
}

.h1 {
    order: 1;
}
.h2 {
    order: 2;
}
.c1 {
    order: 3;
}

.c2 {
    order : 6;
}

.c3 {
    order : 5;
} 

.c4 {
    order: 4;
}
.f1 {
    order: 7;
}

.f2 {
    order: 8;
} 
