.block-element {
background-color: green;
margin: 10px;
padding: 20px;

} 
.nav{

    background-color: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;

}

.nav li {
display: inline-block;
font-size: 20px;
margin: 10px 0;
padding-left: 20px;
padding-right: 20px;

}

/* Por default en Div y P Display block por default, siempre ocupa el 100% del Width*/
/*Por default en Span: display:inline , no pone espacio entre elementos y permite poner el elemento inmediatamente despues
Margin y Padding no se puede usar para la parte de arriba y abajo solo para izquierda y derecha
tampoco le puedo poner un Width o un Height, no va a poder crecer*/
/*Inline-Block: Ocupa el 100% del tamano del contenido, permite poner 
otros elementos de manera adjunta si puedo agregar margin y padding en la parte de arriba y abajo y a 
parte puedo modificar el width y el height, usan el 100% del tamano del contenido 
lo mejor de inline y block
Toma solo el espacio del contenido, permite que sus hermanos puedan existir si hay espacio
*/
